$bodyBg: #F3F4FA;
$mainBg: #fff;
$mainColor: #8624DB;
$txtColor: #4E4D4F;
$borderColor: #c2c2c2;
$borderColorFocus: #b1b1b1;
$light: #f5f5f5;
$gray: #7d7d7d;
$purple: #8624DB;
$orange: #FF9066;
$white: #fff;
$black: #000;
$green: #4CAF50;
$red: #DB190C;

$fontFamily: 'Roboto', sans-serif;

$fontSizeNormal: 1.125rem;
$fontSizeMedium: 1.25rem;
$fontSizeLarge: 1.5625rem;

$logoSizeNormal: 6.25rem;
$logoSizeLarge: 15.625rem;

$authFormWidth: 400px;

$sideBarWidth: 300px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 650px;
$tablet-width: 1366px;
